/* Common Styles */
body {
    width: 100%;
    margin: 0 auto;
}

.container {
    width: 90%;
    margin: auto;
}

/* Common Styles */

/* Header styles */
header {
    background-color: #161616;
    /* height: 646px; */
    margin-top: 50px;
    border-radius: 30px;
    margin-bottom: 130px;
}

.live-watching {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 80px;
}

.show-live {
    margin-top: 64px;
    margin-left: 106px;
    margin-right: 24px;
}

.show-live h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 700;
    color: white;
}

.show-live p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.show-live button {
    background-color: #DD0000;
    padding: 16px 25px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.fa-greater-than {
    font-size: 16px;
    margin-left: 10px;
    position: relative;
}

.show-live button:hover {
    background-color: purple;
    transition: 1s ease;
}

.show-live button:hover .fa-greater-than {
    transform: translateX(20px);
    transition: 1s ease-in-out;
}

.live-watching .player-image {
    width: 50%;
    margin: auto;
    margin-top: 33px;
    position: relative;
    top: 25%;
}

.player-image img {
    width: 100%;
}

/* Header Styles */

/* Tablet Menu */
.tablet-menu {
    display: none;
    text-align: center;
    margin-bottom: 30px;
}

.menu button {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    height: 64px;
    width: 230px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #161616;
    margin-right: 22px;
}

/* Tablet Menu */

/* Main Content Styles */
/* Side bar & articles grid styles */
.transfer-mathches {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
    margin-bottom: 130px;
}

/* Side Bar Styles */
.matches {
    background-color: #161616;
    height: 312px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 30px;
    border-radius: 10px;
}

.matches button {
    border-radius: 10px;
    border: none;
    margin-bottom: 29px;
}

.matches button a {
    text-decoration: none;
    color: #161616;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.matches .blog {
    margin-bottom: 0;
    background-color: #DD0000;
}

/* Side bar Styles */

/* Transfer Articles Styles */
.transfer {
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

.transfer.empty-grid {
    border: none;
}

.player-running-image {
    width: 100%;
}

.transfer-details {
    margin-left: 20px;
    margin-top: 23px;
    margin-bottom: 23px;
}

.transfer-details button {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #161616;
    border-radius: 5px;
    border: 1px solid #161616;
}

.transfer-details p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #161616;
}

.transfer-details span {
    margin-right: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #161616b9;
}

.fa-regular.fa-clock {
    margin-right: 10px;
}

.fa-regular.fa-comment-dots {
    margin-right: 10px;
}

/* Main Content Styles */

/* For Tablet View Only */
.for-tablet {
    display: none;
    text-align: center;
    margin-bottom: 70px;
}

.view-all {
    background-color: #DD0000;
    padding: 12px 29px;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

/* For Tablet View Only */

/* Footer Styles */
footer {
    background-color: #161616;
}

.footer-element {
    width: 90%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 80px;
}

.footer-element h3 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.068);
    padding-bottom: 30px;
}

.useful-links {
    text-align: center;
}

.useful-links a {
    text-decoration: none;
    color: #B9B9B9;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-right: 20px;
}

.social-media {
    text-align: center;
    padding-top: 20px;
}

.social-media a {
    font-size: 24px;
    color: white;
    margin-right: 40px;
}

/* Footer Styles */

/* Responsive For mobile view */
@media only screen and (max-width:575px) {
    .container {
        width: 100%;
    }

    .live-watching {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .live-watching .player-image {
        position: relative;
        margin-bottom: 60px;
    }

    .tablet-menu {
        display: flex;
    }

    .menu button {
        margin-bottom: 20px;
    }

    .matches {
        display: none;
    }

    .transfer-mathches {
        display: flex;
        flex-direction: column;
    }

    .transfer.empty-grid {
        display: none;
    }

    .transfer img {
        width: 100%;
    }

    .useful-links {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 10px;
    }
}

/* Responsive for mobile view */

/* Responsive for Tablet view */
@media only screen and (min-width:576px) and (max-width:768px) {
    .container {
        width: 98%;
    }

    .live-watching {
        width: 100%;
        padding-bottom: 20px;
    }

    .show-live {
        margin-top: 10px;
        margin-left: 50px;
        margin-bottom: 10px;
    }

    .show-live h1 {
        font-size: 30px;
    }

    .show-live p {
        font-size: 12px;
    }

    .show-live button {
        padding: 10px 18px;
        font-size: 15px;
        border: none;
    }

    .player-image img {
        height: 300px;
        width: 100%;
        position: relative;
        bottom: 80px;
    }

    .tablet-menu {
        display: grid;
    }

    .menu button {
        font-size: 15px;
        margin-right: 10px;
    }

    .matches {
        display: none;
    }

    .transfer-mathches {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .transfer .player-running-image img {
        width: 100%;
    }

    .transfer.empty-grid {
        display: none;
    }

    .transfer.invisible {
        display: none;
    }

    .for-tablet {
        display: block;
    }
}